*~
*.bak
*.orig
*.sw[a-z]
\#*\#

/.build
/.need-reload
/.reloaded
/.no-reload
/.env

/*.service
/*.timer
/*.overrides.conf
!/*.tmpl.service
!/*.tmpl.timer

/build
/pkg
/debian/*
!/debian/source/*
!/debian/changelog
!/debian/control
!/debian/rules
!/debian/*.config
!/debian/*.scripts
!/debian/*.service
!/debian/*.sysuser
!/debian/*.templates
!/debian/*.timer
