[Unit]
Description="Run vim-win32-fetch.service"

[Timer]
OnCalendar=daily Europe/Paris
Unit=@@SERVICE_UNIT@@.service
AccuracySec=1s

[Install]
WantedBy=timers.target
