[Unit]
Description="Update vim-win32 for next build"

[Service]
ExecStart=@@SERVICE_BIN@@
Environment=FETCH_BIN=@@FETCH_BIN@@
Environment=LOGFILE=@@LOG_FILE@@
WorkingDirectory=@@WORKDIR@@
Type=oneshot
