[Unit]
Description="Update vim-win32 for next build"

[Service]
User=vim-win32
Group=vim-win32
ExecStart=@@SERVICE_BIN@@
WorkingDirectory=~
Type=oneshot
